BillingApplicationUserInterface/BillingApplicationUserInterface/Service References/CustomerService/CustomerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CustomerServiceForBilling/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonClasses" />
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q1:ArrayOfProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentCustomerPurchasedDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerChoice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentCustomerPurchasedDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="CurrentCustomerPurchasedDetailsResult" nillable="true" type="q2:ArrayOfPurchaseProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableProductsAfterCurrentPurchase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableProductsAfterCurrentPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="AvailableProductsAfterCurrentPurchaseResult" nillable="true" type="q3:ArrayOfProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductFromCurrentPurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductFromCurrentPurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="DeleteProductFromCurrentPurchaseResult" nillable="true" type="q4:ArrayOfPurchaseProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalBillForCurrentCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalBillForCurrentCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="FinalBillForCurrentCustomerResult" nillable="true" type="q5:ArrayOfPurchaseProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchasedProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchasedProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="PurchasedProductsResult" nillable="true" type="q6:ArrayOfPurchaseProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>