BillingApplicationUserInterface/BillingApplicationUserInterface/Service References/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/CustomerServiceForBilling/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/CustomerServiceForBilling/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CustomerServiceForBilling/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CurrentCustomerPurchasedDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentCustomerPurchasedDetails" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CurrentCustomerPurchasedDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentCustomerPurchasedDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AvailableProductsAfterCurrentPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableProductsAfterCurrentPurchase" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AvailableProductsAfterCurrentPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableProductsAfterCurrentPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteProductFromCurrentPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductFromCurrentPurchase" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteProductFromCurrentPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductFromCurrentPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FinalBillForCurrentCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalBillForCurrentCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FinalBillForCurrentCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalBillForCurrentCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_PurchasedProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchasedProducts" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_PurchasedProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchasedProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllProducts" message="tns:ICustomerService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllProductsResponse" message="tns:ICustomerService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrentCustomerPurchasedDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CurrentCustomerPurchasedDetails" message="tns:ICustomerService_CurrentCustomerPurchasedDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CurrentCustomerPurchasedDetailsResponse" message="tns:ICustomerService_CurrentCustomerPurchasedDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailableProductsAfterCurrentPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/AvailableProductsAfterCurrentPurchase" message="tns:ICustomerService_AvailableProductsAfterCurrentPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/AvailableProductsAfterCurrentPurchaseResponse" message="tns:ICustomerService_AvailableProductsAfterCurrentPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductFromCurrentPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteProductFromCurrentPurchase" message="tns:ICustomerService_DeleteProductFromCurrentPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteProductFromCurrentPurchaseResponse" message="tns:ICustomerService_DeleteProductFromCurrentPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalBillForCurrentCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/FinalBillForCurrentCustomer" message="tns:ICustomerService_FinalBillForCurrentCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/FinalBillForCurrentCustomerResponse" message="tns:ICustomerService_FinalBillForCurrentCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchasedProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/PurchasedProducts" message="tns:ICustomerService_PurchasedProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/PurchasedProductsResponse" message="tns:ICustomerService_PurchasedProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentCustomerPurchasedDetails">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CurrentCustomerPurchasedDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailableProductsAfterCurrentPurchase">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/AvailableProductsAfterCurrentPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductFromCurrentPurchase">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteProductFromCurrentPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalBillForCurrentCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/FinalBillForCurrentCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchasedProducts">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/PurchasedProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost/CustomerServiceForBilling/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>