BillingApplicationUserInterface/BillingApplicationUserInterface/Service References/AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/CustomerServiceForBilling/AdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/CustomerServiceForBilling/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CustomerServiceForBilling/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_AvailableProductsInStore_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailableProductsInStore" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AvailableProductsInStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailableProductsInStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminValidation" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_NewProductsAddedByAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:NewProductsAddedByAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_NewProductsAddedByAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewProductsAddedByAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DetailsOfNewProductsAddedToStore_InputMessage">
    <wsdl:part name="parameters" element="tns:DetailsOfNewProductsAddedToStore" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DetailsOfNewProductsAddedToStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetailsOfNewProductsAddedToStoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AvailableProductsInStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AvailableProductsInStore" message="tns:IAdminService_AvailableProductsInStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AvailableProductsInStoreResponse" message="tns:IAdminService_AvailableProductsInStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AdminValidation" message="tns:IAdminService_AdminValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AdminValidationResponse" message="tns:IAdminService_AdminValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewProductsAddedByAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/NewProductsAddedByAdmin" message="tns:IAdminService_NewProductsAddedByAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/NewProductsAddedByAdminResponse" message="tns:IAdminService_NewProductsAddedByAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetailsOfNewProductsAddedToStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DetailsOfNewProductsAddedToStore" message="tns:IAdminService_DetailsOfNewProductsAddedToStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DetailsOfNewProductsAddedToStoreResponse" message="tns:IAdminService_DetailsOfNewProductsAddedToStore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AvailableProductsInStore">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AvailableProductsInStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminValidation">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AdminValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewProductsAddedByAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/NewProductsAddedByAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailsOfNewProductsAddedToStore">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DetailsOfNewProductsAddedToStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost/CustomerServiceForBilling/AdminService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>