BillingApplicationUserInterface/BillingApplicationUserInterface/Service References/AdminService/AdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CustomerServiceForBilling/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonClasses" />
  <xs:element name="AvailableProductsInStore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableProductsInStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="AvailableProductsInStoreResult" nillable="true" type="q1:ArrayOfProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminValidationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProductsAddedByAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="productsAddingDetails" nillable="true" type="q2:ProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewProductsAddedByAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewProductsAddedByAdminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailsOfNewProductsAddedToStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonClasses" minOccurs="0" name="productsAdded" nillable="true" type="q3:ProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailsOfNewProductsAddedToStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>